<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BookKeeper.Properties.LoginSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="BookKeeper.Properties.LoginSettingsData" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="BookKeeper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="BookKeeper.Properties.Settings.bookkeeperConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\bookkeeper.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <BookKeeper.Properties.LoginSettings>
            <setting name="ConnectionString" serializeAs="String">
                <value />
            </setting>
        </BookKeeper.Properties.LoginSettings>
        <BookKeeper.Properties.LoginSettingsData>
            <setting name="ConnectionString" serializeAs="String">
                <value />
            </setting>
        </BookKeeper.Properties.LoginSettingsData>
        <BookKeeper.Properties.Settings>
            <setting name="ApplicationFont" serializeAs="String">
                <value>Segoe UI, 9.75pt</value>
            </setting>
            <setting name="ListFont" serializeAs="String">
                <value>NPINazaninBook, 12pt</value>
            </setting>
            <setting name="TitleFont" serializeAs="String">
                <value>Microsoft Sans Serif, 12pt</value>
            </setting>
            <setting name="ComponentBackground" serializeAs="String">
                <value>240, 240, 240</value>
            </setting>
            <setting name="OnRecordDelete" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="IdFont" serializeAs="String">
                <value>Microsoft Sans Serif, 14pt</value>
            </setting>
            <setting name="DashboardFont" serializeAs="String">
                <value>Microsoft Sans Serif, 12pt</value>
            </setting>
            <setting name="OnRecordCreation" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LoanKeepingDays" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="MaxLoansPerUser" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="moz" serializeAs="String">
                <value />
            </setting>
        </BookKeeper.Properties.Settings>
    </userSettings>
</configuration>